# Python
__pycache__/
*.py[cod]
*$py.class
*.so
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Virtual Environments
venv/
env/
ENV/
env.bak/
.venv/

# Environments Variables
.env
.env.local
.env.*

# Media / Static files collected
media/
staticfiles/
static_root/

# OS / IDE
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
*.swo


